<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items</title>
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <h1>Items</h1>
    <% if (items.length === 0) { %>
    <h2><a href="/new-item">Create an item</a></h2>
    <% } else { %>
    <ul>
      <% items.forEach((item) => { %>
      <div>
        <li>
          Brand: <%= item.brand %> Gender: <%= item.gender %> Type: <%=
          item.type %> Quantity: <%= item.quantity %> Price: $<%= item.price %>
          <form action="/update-item/<%= item.item_id %>" method="GET">
            <button type="submit">Update</button>
          </form>
          <form action="/delete-item/<%= item.item_id %>" method="POST">
            <button type="submit">Delete</button>
          </form>
        </li>
      </div>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
